<section class="about">
    <div class="about__content container">
        <div class="about__title">
            <h1>What our customers have to say about us.</h1>
            <span
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
            </span>
            <button type="button">Get started</button>
        </div>
        <div class="about__reviews">
            <div class="about__slider_container swiper-container">
                <div class="swiper-button-next about__slider_up">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-up"></use>
                    </svg>
                </div>
                <div class="about__slider_content swiper-wrapper">
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/jon-snow.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Jon Snow</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/khaleesi.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Khaleesi</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/robert.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Robert Baratheon</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/tyrion.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Tyrion Lannister</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/khal.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Khal Drogo</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/joffrey.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Joffrey Baratheon</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/cersei.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Cersei Lannister</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/sandor.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Sandor Clegane</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                    <div class="about__slider_item swiper-slide">
                        <img src="./img/samwell.jpg" alt="" />
                        <div class="about__slider_reviews">
                            <h4>Samwell Tarly</h4>
                            <span
                                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
                                corrupti ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis
                                blanditiis nam, temporibus magni pariatur id ipsum ab corporis
                                tempore rerum libero?
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev about__slider_down">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-down"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
