<section class="contact">
    <div class="contact__title">
        <h1>Contact Us</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
        </span>
    </div>
    <form action="" class="contact__form">
        <input type="text" value="" placeholder="First Name">
        <input type="text" value="" placeholder="Last Name">
        <input type="email" value="" placeholder="Email">
        <input type="tel" value="" placeholder="Phone">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <div class="contact__submit">
            <input id="newsletter" type="checkbox">
            <label for="newsletter">subscribe to the newsletter</label>
            <button class="">Send</button>
        </div>
    </form>
</section>