<footer class="footer">
    <div class="footer__content container">
        <div class="footer__nav">
            <div class="header__logo footer__logo">
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#logo"></use>
                    </svg>
                    <span>Dart<br><b>Servise Manager</b></span>
                </a>
            </div>
            <div class="header__nav footer__nav_item">
                <ul class="header__menu footer__menu_item">
                    <li class="header__item footer__item"><a href="#" class="link__scroll">Home</a></li>
                    <li class="header__item footer__item"><a href="#" class="link__scroll">Service</a></li>
                    <li class="header__item footer__item"><a href="#" class="link__scroll">Extension</a></li>
                    <li class="header__item footer__item"><a href="#" class="link__scroll">Pricing</a></li>
                    <li class="header__item footer__item"><a href="#" class="link__scroll">Help</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__about">
            <ul>
                <li><a href="#">Privecy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <div class="footer__social">
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#facebook-footer"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#in"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#ball"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#behance"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>