<header class="header">
    <div class="header__content container main_content">
        <div class="header__logo">
            <a href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#logo"></use>
                </svg>
                <span>Dart<br /><b>Servise Manager</b></span>
            </a>
        </div>
        <div class="header__nav header__nav_mobile">
            <ul class="header__menu header__menu_mobile">
                <li class="header__item header__item_mobile">
                    <a href="#" class="link__scroll">Home</a>
                </li>
                <li class="header__item header__item_mobile">
                    <a href="#" class="link__scroll">Service</a>
                </li>
                <li class="header__item header__item_mobile">
                    <a href="#" class="link__scroll">Extension</a>
                </li>
                <li class="header__item header__item_mobile">
                    <a href="#" class="link__scroll">Pricing</a>
                </li>
                <li class="header__item header__item_mobile">
                    <a href="#" class="link__scroll">Help</a>
                </li>
            </ul>
        </div>
        <div class="header__nav_mobile_close"></div>
        <div class="header__btn_reg">
            <button type="button">sign up</button>
        </div>
    </div>
    <div class="header__items main_content container">
        <div class="header__title">
            <h1>Lorem ipsum dolor sit amet</h1>
            <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae officiis reiciendis
                consectetur tempore magni fuga quidem animi accusantium perferendis quaerat
            </span>
            <div class="header__buttons_group">
                <button type="button">Buy now</button>
                <button type="button">Try for free</button>
            </div>
        </div>
        <div class="header__video">
            <video class="video" src="./video/video.mp4" playsinline muted></video>
            <div class="header__video_play">
                <button class="video__play_btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#play"></use>
                    </svg>
                </button>
                <span>Watch the video</span>
            </div>
        </div>
    </div>
</header>
