<section class="project">
    <div class="project__title">
        <h1>Easy & Useful</h1>
        <h5>Project Managment Tool</h5>
        <span
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus neque
            laudantium, libero harum perspiciatis molestiae animi commodi! Ad officiis reiciendis
            tenetur, debitis praesentium</span
        >
    </div>
    <div class="project__heres container">
        <div class="project__item">
            <img src="./img/note.png" alt="title" />
            <h4>Title Goes Here</h4>
            <span
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
        <div class="project__item">
            <img src="./img/human1.png" alt="title" />
            <h4>Title Goes Here</h4>
            <span
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
        <div class="project__item">
            <img src="./img/human2.png" alt="title" />
            <h4>Title Goes Here</h4>
            <span
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
    </div>
    <button type="button">Get Started</button>
    <div class="project__footer">
        <div class="project__footer_items">
            <img src="./img/ellipse1.png" alt="title" />
            <span>12000+<br />Business</span>
        </div>
        <div class="project__footer_items">
            <img src="./img/ellipse2.png" alt="title" />
            <span>60000+<br />Downloads</span>
        </div>
        <div class="project__footer_items">
            <img src="./img/ellipse3.png" alt="title" />
            <span>30000+<br />Free Instals</span>
        </div>
        <div class="project__footer_items">
            <img src="./img/ellipse4.png" alt="title" />
            <span>40000+<br />Pro Users</span>
        </div>
    </div>
</section>
