<section class="services">
    <div class="services__title">
        <h1>Services</h1>
        <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna
        </span>
    </div>
    <div class="services__items">
        <div class="services__box_item">
            <div class="services__box_title">
                <svg>
                    <use xlink:href="img/sprite.svg#statistic"></use>
                </svg>
                <h3>Statistics</h3>
                <div class="title__arrow">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="services__box_content">
                <img src="./img/stat.png" alt="" />
                <div class="services__box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
        <div class="services__box_item">
            <div class="services__box_title">
                <svg>
                    <use xlink:href="img/sprite.svg#inbox"></use>
                </svg>
                <h3>Inbox</h3>
                <div class="title__arrow">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="services__box_content">
                <img src="./img/stat.png" alt="" />
                <div class="services__box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
        <div class="services__box_item">
            <div class="services__box_title">
                <svg>
                    <use xlink:href="img/sprite.svg#team"></use>
                </svg>
                <h3>Team</h3>
                <div class="title__arrow">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="services__box_content">
                <img src="./img/stat.png" alt="" />
                <div class="services__box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
        <div class="services__box_item">
            <div class="services__box_title">
                <svg>
                    <use xlink:href="img/sprite.svg#settings"></use>
                </svg>
                <h3>Settings</h3>
                <div class="title__arrow">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="services__box_content">
                <img src="./img/stat.png" alt="" />
                <div class="services__box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
        <div class="services__box_item">
            <div class="services__box_title">
                <svg>
                    <use xlink:href="img/sprite.svg#feed"></use>
                </svg>
                <h3>Feed</h3>
                <div class="title__arrow">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="services__box_content">
                <img src="./img/stat.png" alt="" />
                <div class="services__box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
