<section class="team">
    <div class="team__container">
        <h1>Our Team</h1>
        <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna
        </span>
        <div class="team__slider swiper-container">
            <div class="team__slider_content swiper-wrapper">
                <div class="team__slider_item swiper-slide">
                    <img src="./img/jon-snow.jpg" alt="" />
                    <h2>Jon Snow</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__slider_item swiper-slide">
                    <img src="./img/khaleesi.jpg" alt="" />
                    <h2>Khaleesi</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__slider_item swiper-slide">
                    <img src="./img/robert.jpg" alt="" />
                    <h2>Robert Baratheon</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__slider_item swiper-slide">
                    <img src="./img/tyrion.jpg" alt="" />
                    <h2>Tyrion Lannister</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__slider_item swiper-slide">
                    <img src="./img/khal.jpg" alt="" />
                    <h2>Khal Drogo</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__slider_item swiper-slide">
                    <img src="./img/joffrey.jpg" alt="" />
                    <h2>Joffrey Baratheon</h2>
                    <span
                        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti
                        ipsum nemo atque deserunt. Animi, excepturi, ex reiciendis blanditiis nam,
                        temporibus magni pariatur id ipsum ab corporis tempore rerum libero?
                    </span>
                    <div class="team__social_icon">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#in"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#ball"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/sprite.svg#behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
