.about{
    height: 564px;
    margin-top: 100px;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    @media (max-width: 1500px){
        padding: 0 20px;
    }

    @media (max-width: 778px){
        height: unset;
        padding: 30px 0;
    }

    &__content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 778px){
            flex-direction: column;
            justify-content: center;
        }
    }

    &::before{
        display: block;
        content: '';
        background-image: linear-gradient(-53deg, #00b7d3 0%, #1ce8b5 100%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0.9;
        z-index: -1;
    }

    &__title{
        max-width: 515px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1{
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 45px;
            font-weight: 600;
            color: $white;

            @media (max-width: 1300px){
                font-size: 40px;
            }

            @media (max-width: 470px){
                font-size: 23px;
            }
        }

        & span{
            display: block;
            margin-top: 20px;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 600;
            color: $white;

            @media (max-width: 1300px){
                font-size: 13px;
            }
        }

        & button{
            display: block;
            margin-right: auto;
            margin-top: 60px;
            border-radius: 4px;
            border: none;
            padding: 18px 32px;
            background: $black-pearl;
            font-family: "Raleway-Bold", sans-serif;
            font-size: 15px;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
            cursor: pointer;

            &:hover{
                background: $white;
                color: $black-pearl;
            }

            @media (max-width: 778px){
                margin-right: unset;
            }
        }

        @media (max-width: 1300px){
            max-width: 400px;
            padding: 0 20px;
        }

        @media (max-width: 778px){
            max-width: unset;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    &__reviews{
        max-width: 760px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        @media (max-width: 1300px){
            max-width: 660px;
        }

        @media (max-width: 1025px){
            max-width: 520px;
        }

        @media (max-width: 778px){
            max-width: unset;
            padding: 0 20px;
        }
    }

    &__slider_container{
        position: relative;
        padding: 50px 0;
        cursor: grab;
    }

    &__slider_up{
        position: absolute;
        left: 57%;
        top: 9px;
        transform: translate(-50%, 0);

        & > svg{
            fill: $white;
            transition: fill 0.3s ease-in-out;

            &:hover{
                fill: $black-pearl;
            }
        }

        @media (max-width: 778px){
            left: 50%;
        }
    }

    &__slider_down{
        position: absolute;
        left: 55.2%;
        top: unset;
        bottom: -13px;
        transform: translate(0, 0);

        & > svg{
            fill: $white;
            transition: fill 0.3s ease-in-out;

            &:hover{
                fill: $black-pearl;
            }
        }

        @media (max-width: 778px){
            left: 48.3%;
        }
    }

    &__slider_content{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__slider_item{
        display: flex;
        align-items: center;

        & > img{
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 50px;
            border-radius: 100%;
            object-fit: cover;

            @media (max-width: 530px){
                width: 35px;
                height: 35px;
            }

            @media (max-width: 530px){
                margin-right: 15px;
            }
        }
    }

    &__slider_reviews{
        padding: 30px 28px;
        background-color: $white;
        border-radius: 4px;

        @media (max-width: 1025px){
            padding: 10px 15px;
        }

        @media (max-width: 778px){
            padding: 20px 25px;
        }

        @media (max-width: 530px){
            padding: 8px 12px;
        }

        @media (max-width: 395px){
            padding: 9px 12px;
        }

        & > h4{
            display: block;
            margin-bottom: 14px;
            font-family: "Raleway-Bold", sans-serif;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            color: $black-pearl;

            @media (max-width: 395px){
                margin-bottom: 6px;
                font-size: 14px;
                line-height: 20px;
            }
        }

        & > span{
            display: block;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: $regent-gray;

            @media (max-width: 395px){
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}