.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: $alabaster;

    &__title{
        max-width: 550px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        & > h1{
            display: block;
            margin-top: 40px;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 45px;
            font-weight: 600;
            color: $black-pearl;

            @media (max-width: 470px){
                font-size: 23px;
            }
        }

        & > span{
            display: block;
            margin-top: 20px;
            margin-bottom: 40px;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: $black-pearl;
        }
    }

    &__form{
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-gap: 19px 40px;

        & > input{
            max-width: 280px;
            height: 50px;
            padding-left: 10px;
            border: solid $black-pearl 1px;
            border-radius: 4px;
            color: $black-pearl;

            &::placeholder{
                color: $black-pearl;
            }

            @media (max-width: 530px){
                max-width: 100%;
                grid-column: span 2;
            }
        }

        & > textarea{
            grid-column: span 2;
            padding-left: 10px;
            padding-top: 10px;
            border: solid $black-pearl 1px;
            border-radius: 4px;
            color: $black-pearl;
            resize: none;
        }

        @media (max-width: 610px){
            grid-template-columns: repeat(2, 230px);
        }

        @media (max-width: 530px){
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__submit{
        display: flex;
        grid-column: span 2;

        & > input{
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: -1;
            opacity: 0;
            cursor: pointer;

            & + label{
                height: auto;
                display: inline-flex;
                align-items: center;
                user-select: none;

                &::before{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border: 2px solid $black-pearl;
                    border-radius: 5px;
                    margin-right: 14px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }
            }

            &:checked + label::before{
                width: 16px;
                height: 16px;
                border: 2px solid $black-pearl;
                border-radius: 5px;
                background: url('../img/check.png') no-repeat;
                background-position: center;
            }
        }

        & > label{
            font-family: "Raleway-Medium", sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: $black-pearl;
            cursor: pointer;
        }

        & > button{
            margin-left: auto;
            padding: 7px 35px;
            border: none;
            border-radius: 4px;
            background-color: $java;
            font-size: "Raleway-Medium", sans-serif;
            font-size: 16px;
            line-height: 30px;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover{
                background-color: $shamrock;
            }
        }
    }


    @media (max-width: 778px){
        padding: 0 20px;
        padding-bottom: 40px;
    }
}