.footer{
    background-color: $black-pearl;

    @media (max-width: 1500px){
        padding: 0 20px;
    }

    &__content{
        padding: 100px 0;

        @media (max-width: 1025px){
            padding: 50px 0;
        }
    }

    &__nav{
        display: flex;
        justify-content: space-between;

        @media (max-width: 610px){
            flex-direction: column;
            align-items: center;
        }

        &_item{

            @media (max-width: 500px){
                width: 100%;
            }
        }
    }

    &__logo{

        @media (max-width: 610px){
            margin-bottom: 30px;
        }
    }

    &__item{
       
        & > a{

            &:hover{
                color: $java;
            }
        }
    }

    &__menu_item{
        @media (max-width: 500px){
            justify-content: space-between;
        }
    }

    &__about{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        & ul {
            display: flex;

            & li{
                margin-right: 45px;
                padding-left: 25px;
                list-style: outside;
                color: $white;
                transition: color 0.3s ease-in-out;

                &:hover{
                    color: $pale-sky;
                }

                &:first-child{
                    padding-left: 0;
                    list-style: none;
                }

                &:last-child{
                    margin-right: 0;
                }

                @media (max-width: 430px){
                    margin-right: 0;
                    padding-left: 0;
                    list-style: none;
                }
            }

            @media (max-width: 430px){
                width: 100%;
                justify-content: space-between;
            }
        }

        & a{
            color: $pale-sky;
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $white;
            }

            @media (max-width: 360px){
                font-size: 12px;
            }
        }

        @media (max-width: 610px){
            flex-direction: column;
            align-items: center;
        }
    }

    &__social{
        display: flex;

        & > a{
            display: inline-block;
            margin-right: 22px;

            &:last-child{
                margin-right: 0;
            }
        }

        & svg{
            width: 18px;
            height: 18px;
            fill: $black-pearl-hover;
            transition: fill 0.3s ease-in-out;

            &:hover{
                fill: $white;
            }
        }

        @media (max-width: 610px){
            margin-top: 30px;
        }
    }
}

.footer__item{

    @media (max-width: 500px){
        margin-right: 0;
    }

    & a{
        @media (max-width: 360px){
            font-size: 12px;
        }
    }
}