.header{
    height: 750px;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 1025px){
        height: 600px;
    }

    @media (max-width: 778px){
        height: unset;
    }

    &::before{
        display: block;
        content: '';
        height: 750px;
        background-image: linear-gradient(-53deg, #00b7d3 0%, #1ce8b5 100%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0.9;

        @media (max-width: 1025px){
            height: 600px;
        }

        @media (max-width: 778px){
            height: unset;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        position: relative;
        z-index: 1;
    }

    &__logo{
        font-family: "Raleway-Regular", sans-serif;
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;

        & > a{
            display: flex;
            align-items: center;
            color: $white;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;

            & > span{
                display: block;
                margin-left: 10px;
            }

            & svg{
                width: 30px;
                height: 30px;
                fill: $white;
                transition: fill 0.3s ease-in-out;
            }

            &:hover{
                color: $black-pearl;
            }

            &:hover svg{
                fill: $black-pearl;
            }
        }
    }

    @media (max-width: 850px){
        
        &__nav_mobile{
            width: 32px;
            height: 32px;
            position: absolute;
            right: 20px;
            background-image: url('../img/burger-menu.png');
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    &__menu{
        display: flex;

        @media (max-width: 850px){

            &_mobile{
                display: none;
            }

            &_mobile--open{
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                right: -300px;
                padding: 30px 50px;
                width: 280px;
                height: 100vh;
                background-color: black;
                transform: translateX(-100%);
                opacity: 0.8;
                z-index: 1;
                cursor: auto;
            }
        }
    }

    &__nav_mobile_close{
        display: none;
        cursor: pointer;

            @media (max-width: 850px){
                width: 24px;
                height: 24px;
                position: fixed;
                top: 20px;
                right: 20px;
                background-image: url('../img/close.png');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                z-index: 15;
            }
    }

    &__item{
        margin-right: 49px;

        & > a{
            font-family: "Raleway-SemiBold", sans-serif;
            font-weight: 600;
            color: $white;
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $black-pearl;
            }
        }

        &:last-child{
            margin-right: unset;
        }
    }

    &__item_mobile{
        // pointer-events: all;

        @media (max-width: 850px){

            margin-top: 30px;

            &:first-child{
                margin-top: 0;
            }

            & a{
                display: block;
                color: $white;

                &:hover{
                    color: $white;
                }
            }
        }
    }

    &__btn_reg{

        & button{
            padding: 2px 15px;
            border: solid $white 1px;
            border-radius: 2px;
            background: transparent;
            font-family: "Raleway-Regular", sans-serif;
            color: $white;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                background: $black-pearl;
                border: solid $black-pearl 1px;
            }

            @media (max-width: 850px){
                   margin-right: 100px;
            }

            @media (max-width: 390px){
                    margin-right: 50px;
            }
        }
    }

    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 160px;
        position: relative;

        @media (max-width: 1025px){
            margin-top: 60px;
        }

        @media (max-width: 778px){
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        & h1{
            font-family: "Raleway-ExtraBold", sans-serif;
            font-size: 55px;
            line-height: 65px;
            color: $white;
            font-weight: 800;
            text-transform: uppercase;

            @media (max-width: 1300px){
                font-size: 40px;
                line-height: 55px;
            }

            @media (max-width: 610px){
                font-size: 27px;
                line-height: 45px;
            }

            @media (max-width: 470px){
                font-size: 23px;
                line-height: 35px;
            }
        }

        & span{
            display: block;
            margin-top: 10px;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 18px;
            line-height: 35px;
            color: $white;
            font-weight: 400;

            @media (max-width: 1300px){
                font-size: 16px;
            }
        }
    }

    &__title{
        max-width: 576px;

        @media (max-width: 1400px){
            max-width: 470px;
        }

        @media (max-width: 1300px){
            max-width: 400px;
        }

        @media (max-width: 778px){
            max-width: 100%;
            text-align: center;
        }
    }

    &__video{
        max-width: 600px;
        height: 320px;
        position: relative;

        @media (max-width: 1025px){
            max-width: 400px;
            height: 250px;
        }

        @media (max-width: 778px){
            max-width: 100%;
            height: unset;
        }

        & > video{
            width: 600px;
            height: 320px;
            border-radius: 5px;
            object-fit: cover;

            @media (max-width: 1025px){
                max-width: 400px;
                height: 250px;
            }

            @media (max-width: 778px){
                max-width: 100%;
                height: 100%;
            }
        }

        &_play{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid $black-pearl 1px;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &::before{
                content: '';
                display: block;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: $white;
                opacity: 0.8;
                z-index: -1;
        }

            & button{
                height: 60px;
                background: none;
                border: none;
                cursor: pointer;
            }

            & svg{
                width: 60px;
                height: 60px;
                fill: $black-pearl;
                transition: all 0.3s ease-in-out;

                &:hover{
                    fill: $black-pearl-hover;
                }
            }

            & span{
                font-family: "Raleway-Bold", sans-serif;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black-pearl;
            }
        }

        @media (max-width: 778px){
            margin: 30px 0;
        }
    }

    &__buttons_group{
        margin-top: 30px;

        & button{
            border-radius: 4px;
            border: none;
            padding: 15px 35px;
            background: $white;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: $black-pearl;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

            &:first-child{
                margin-right: 30px;

                @media (max-width: 390px){
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

            &:hover{
                background: $black-pearl;
                color: $white;
            }

            @media (max-width: 390px){
                max-width: max-content;
            }
        }

        @media (max-width: 390px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}