.project{
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h1{
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 45px;
            color: $black-pearl;
            font-weight: 600;

            @media (max-width: 470px){
                font-size: 23px;
            }
        }

        & h5{
            display: block;
            margin-top: 10px;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 25px;
            color: $tower-gray;
            font-weight: 500;

            @media (max-width: 470px){
                font-size: 17px;
            }
        }

        & span{
            display: block;
            max-width: 550px;
            margin-top: 15px;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            color: $tower-gray;
            font-weight: 400;
        }
    }

    &__heres{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        padding: 0 20px;

        @media (max-width: 778px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
    }

    &__item{
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & img{
            height: 80px;
        }

        & > h4{
            display: block;
            margin-top: 40px;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 20px;
            line-height: 25px;
            font-weight: 600;
            color: $black-pearl;
        }

        & > span{
            display: block;
            margin-top: 20px;
            text-align: center;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            color: $regent-gray;
        }

        &:nth-child(1n) img{
            height: 70px;
        }

        @media (max-width: 778px){
            max-width: unset;
            margin-top: 30px;

            &:first-child{
                margin-top: 0;
            }
        }
    }

    & > button{
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        padding: 16px 23px;
        border: none;
        border-radius: 4px;
        background-color: $java;
        font-family: "Raleway-Bold", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover{
            background-color: $shamrock;
        }
    }

    &__footer{
        display: flex;
        margin-top: 100px;
        margin-left: -20px;
        margin-right: -20px;

        @media (max-width: 778px){
            margin-top: 60px;
        }

        @media (max-width: 610px){
            flex-direction: column;
        }
    }

    &__footer_items{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        overflow: hidden;

        & > img{
            width: 60px;
            height: 60px;
        }

        & > span{
            display: block;
            margin-left: 25px;
            font-family: "Raleway-ExtraBold", sans-serif;
            font-size: 20px;
            line-height: 25px;
            font-weight: 800;
            color: $white;

            @media (max-width: 850px){
                margin-left: 0;
                margin-top: 10px;
            }
        }

        &:nth-child(1n){
            background-color: $anakiwa;
        }

        &:nth-child(2n){
            background-color: $malibu;
        }

        &:nth-child(3n){
            background-color: $heliotrope;
        }

        &:nth-child(4n){
            background-color: $heliotrope-two;
        }

        @media (max-width: 850px){
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    @media (max-width: 778px){
        margin-top: 30px;
    }
}