.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    &__title{
        max-width: 600px;
        text-align: center;

        & h1{
            display: block;
            margin-bottom: 20px;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 45px;
            font-weight: 600;
            color: $black-pearl;

            @media (max-width: 470px){
                font-size: 23px;
            }
        }

        & span{
            display: block;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: $tower-gray;
        }
    }

    &__items{
        max-width: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
    }

    &__box_title{
        display: flex;
        align-items: center;
        position: relative;
        font-family: "Raleway-Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: $black-pearl;
        text-transform: uppercase;
        cursor: pointer;

        & svg{
            margin-right: 20px;
            width: 20px;
            height: 13px;
            fill: $black-pearl;
        }

        & h3{
            @media (max-width: 470px){
                font-size: 13px;
            }
        }
    }

    &__box_item{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 18px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);

        &:first-child{
            margin-top: 0;
        }
    }

    &__box_content{
        display: flex;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        will-change: max-height;
        transition: all 0.3s ease-in-out;

        @media (max-width: 799px){
            flex-direction: column;
        }

        & > img{
            height: 155px;
            object-fit: contain;
        }
    }

    &__box_content_visible.services__box_content{
        opacity: 1;
        margin-top: 20px;
    }

    &__box_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 26px;
        font-family: "Raleway-Regular", sans-serif;
        font-size: 15px;
        line-height: 25px;
        color: $black-pearl;
        font-weight: 400;

        @media (max-width: 799px){
            margin-top: 26px;
            margin-left: 0;
        }
    }

    @media (max-width: 778px){
        margin-top: 30px;
        padding: 0 20px;
    }
}

.title__arrow{
    margin-left: auto;

    & svg{
        width: 11px;
        height: 8px;
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
    }

    &_active{
        
        & svg{
            transform: rotate(270deg);
        }
    }
}