.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 20px;

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & > h1{
            display: block;
            font-family: "Raleway-SemiBold", sans-serif;
            font-size: 45px;
            font-weight: 600;
            color: $black-pearl;

            @media (max-width: 470px){
                font-size: 23px;
            }
        }

        & > span{
            max-width: 550px;
            display: block;
            margin-top: 25px;
            text-align: center;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: $tower-gray;
        }
    }

    &__slider{
        max-width: 650px;
        margin-top: 80px;

        @media (max-width: 778px){
            max-width: 550px;
            margin-top: 40px;
        }

        @media (max-width: 610px){
            max-width: 450px;
        }

        @media (max-width: 470px){
            max-width: 350px;
        }

        @media (max-width: 375px){
            max-width: 295px;
        }
    }

    &__slider_content{
        display: flex;
    }

    &__slider_item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & > img{
            width: 180px;
            height: 180px;
            border-radius: 100%;
            object-fit: cover;

            @media (max-width: 610px){
                width: 110px;
                height: 110px;
            }
        }

        & > h2{
            display: block;
            margin-top: 60px;
            margin-bottom: 18px;
            font-family: "Raleway-Bold", sans-serif;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            color: $black-pearl;

            @media (max-width: 610px){
                margin-top: 30px;
            }
        }

        & > span{
            display: block;
            text-align: center;
            font-family: "Raleway-Regular", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: $gull-gray;
        }

        @media (max-width: 610px){
            text-align: center;
        }
    }

    &__social_icon{
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 20px;

        & > a{
            display: flex;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }

            @media (max-width: 778px){
                margin-right: 20px;
            }

            @media (max-width: 610px){
                margin-right: 15px;
            }
        }

        & > a > svg{
            width: 18px;
            height: 20px;
            fill: $gull-gray;
            transition: fill 0.3s ease-in-out;

            &:hover{
                fill: $black-pearl;
            }
        }
    }

    @media (max-width: 778px){
        margin-top: 30px;
    }
}

.team__slider_item.swiper-slide.swiper-slide-prev,
.team__slider_item.swiper-slide.swiper-slide-next{
    height: 180px;
}

.team__slider_item.swiper-slide.swiper-slide-prev img{
    margin-left: 60px;
}

.team__slider_item.swiper-slide.swiper-slide-next img{
    margin-right: 60px;
}

.team__slider_item.swiper-slide.swiper-slide-prev img,
.team__slider_item.swiper-slide.swiper-slide-next img{
    width: 120px;
    height: 120px;
    opacity: 0.2;
}

.team__slider_item.swiper-slide.swiper-slide-prev h2,
.team__slider_item.swiper-slide.swiper-slide-next h2{
    display: none;
}

.team__slider_item.swiper-slide.swiper-slide-prev span,
.team__slider_item.swiper-slide.swiper-slide-next span{
    display: none;
}

.team__slider_item.swiper-slide.swiper-slide-prev .team__social_icon,
.team__slider_item.swiper-slide.swiper-slide-next .team__social_icon{
    display: none;
}

.team__slider_item.swiper-slide.swiper-slide-active span{
    width: calc(100% + 200%);  
}

.team__slider_item.swiper-slide.swiper-slide-active{
    justify-content: flex-start;
}

@media (max-width: 778px){
    .team__slider_item.swiper-slide.swiper-slide-prev img{
        margin-left: 0;
    }
    
    .team__slider_item.swiper-slide.swiper-slide-next img{
        margin-right: 0;
    }
}

@media (max-width: 768px){
    .team{
        margin-bottom: 50px;
    }

    .team__slider_item.swiper-slide.swiper-slide-active span{
        width: unset;  
    }

    .team__slider_item.swiper-slide.swiper-slide-prev img{
        margin-left: 0;
    }
    
    .team__slider_item.swiper-slide.swiper-slide-next img{
        margin-right: 0;
    }

    .team__slider_item.swiper-slide.swiper-slide-prev,
    .team__slider_item.swiper-slide.swiper-slide-next{
        height: 100%;
    }

    .team__slider_item.swiper-slide.swiper-slide-prev img,
    .team__slider_item.swiper-slide.swiper-slide-next img{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        object-fit: cover;
        opacity: unset;
    }

    .team__slider_item.swiper-slide.swiper-slide-prev h2,
    .team__slider_item.swiper-slide.swiper-slide-next h2{
        display: block;
    }

    .team__slider_item.swiper-slide.swiper-slide-prev span,
    .team__slider_item.swiper-slide.swiper-slide-next span{
        display: block;
    }

    .team__slider_item{
        justify-content: space-between;
    }

    .team__social_icon{
        display: flex !important;
    }
}

@media (max-width: 610px){
    .team__slider_item.swiper-slide.swiper-slide-prev img,
    .team__slider_item.swiper-slide.swiper-slide-next img{
        width: 110px;
        height: 110px;
    }
}