$max-width: 1440px;
$white: #ffffff;
$black-pearl: #061e37;
$black-pearl-hover: #384b5f;
$tower-gray: #b0bec5;
$regent-gray: #78909c;
$java: #1de9b6;
$anakiwa: #80d8ff;
$malibu: #82b1ff;
$heliotrope: #b388ff;
$heliotrope-two: #ea80fc;
$shamrock: #29c29b;
$gull-gray: #90a4ae;
$alabaster: #fafafa;
$pale-sky: #627181;