@import 'vars';
@import 'mixins';
@import 'fonts';

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
}

.main_content{
    padding: 0 80px;
}

.up__arrow{
    display: none;
    width: 32px;
    height: 32px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-image: url('../img/up-arrow.png');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 1500px){

    .main_content{
        padding: 0 20px;
    }
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}

@import '../../node_modules/swiper/swiper-bundle.css';
@import 'header';
@import 'project';
@import 'services';
@import 'about';
@import 'team';
@import 'contact';
@import 'footer';